{% extends "base.html" %}

{% block extrahead %}
<!-- GENERAL META -->
<meta name="title" content="ReviveMC74">
<meta name="description" content="A guide on installing custom VOIP software on Meraki/Cisco MC74 phone.">
<meta name="author" content="Gottfried Leibniz, Richard Florin, and Jacob Witt">
<meta name="keywords" content="cisco, meraki, MC74, SIP, VoIP, phone, ipphone, PBX">
<meta name="theme-color" content="#8bc34b">
<!-- OPEN GRAPH -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://revivemc74.com">
<meta property="og:title" content="ReviveMC74">
<meta property="og:description" content="A guide on installing custom VOIP software on Meraki/Cisco MC74 phone.">
<meta property="og:image" content="https://revivemc74.com/img/icon.png">
<!-- TWITTER -->
<meta property="twitter:card" content="summary">
<meta property="twitter:url" content="https://revivemc74.com">
<meta property="twitter:title" content="ReviveMC74">
<meta property="twitter:description" content="A guide on installing custom VOIP software on Meraki/Cisco MC74 phone.">
<meta property="twitter:image" content="https://revivemc74.com/img/icon.png">
{% endblock %}